body
{
    margin: 0px;
}
.container
{
    display: grid;
    grid-auto-rows: 690px;
}
.items
{
    padding: 10px;
    margin: 5px;
    border: 1px solid greenyellow;
    background-color: greenyellow;
    width: 200px;
    text-align: center;
}
#one
{
    grid-template-rows: 1fr;
    height: 95%;
}
.two
{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-column-start: 2;
    height: 100%;
}
.three
{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-column-start: 3;
    grid-row-start: auto;
    height: 100%;
}
.four
{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-column-start: 4;
    grid-row-start: auto;
    height: 100%;
}
.five
{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-column-start: 5;
    grid-row-start: auto;
    height: 100%;
}
.six
{
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-column-start: 6;
    grid-row-start: auto;
    height: 100%;
}
a
{
    margin: 10px;
    padding: 10px;
}